.car__item {
    border: 1px solid #7c8a9736;
    padding: 10px;
    border-radius: 5px;
}

.car__item-info span i {
    color: #5a0055;
    font-size: 1.1rem;
}

.car__item-btn {
    border-radius: 0;
    border: none;
    outline: none;
    background: rgba(7, 81, 238, 0.73);
    padding: 8px 0px;
}

.car__item-btn a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.car__item-btn a:hover {
    color: #fff;
}
.car__btn-details {
    background: #fdc575;
    border-radius: 0px 4px 4px 0px;
}

.car__btn-rent {
    border-radius: 4px 0px 0px 4px;
}

.car__item-content h4 {
    font-size: 1.8rem;
}

.car__item-content h6 {
    font-size: 1.2rem;
    font-weight: 600;
}

@media only screen and (max-width: 992px) {
    .car__item h4 {
        font-size: 1.1rem;
        margin-bottom: 0;
    }

    .car__item h6 {
        font-size: 1rem;
        margin-top: 10px;
    }

    .car__item-info {
        flex-wrap: wrap;
    }

    .car__item-info span {
        font-size: 0.8rem;
        justify-content: space-between;
    }

    .car__item-btn {
        padding: 5px 10px;
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 768px) {
    .car__item h4 {
        font-size: 1rem;
    }

    .car__item h6 {
        font-size: 0.9rem;
    }

    .car__item-info span {
        font-size: 0.7rem;
    }

    .car__item-info span i {
        font-size: 0.9rem;
    }

    .car__item-btn {
        font-size: 0.8rem;
    }
}

.navbar {
    margin-bottom: 0px;
    padding: 7px;
    border-color: rgba(34,34,34,.05);
    background: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

























.footer {
    font-size: 12px;
    background: #000000;
    padding-top: 50px;
    padding-bottom: 15px;
}

.footer__logo i {
    color: #e26b6b;
    font-weight: 400;
}

.footer__logo span {
    color: #fff;
    font-weight: 500;
}

.footer__logo-content {
    color: rgba(255, 255, 255, 0.715);
    margin-top: 15px;
    line-height: 30px;
}

.quick__link {
    border: none !important;
    background: transparent !important;
}

.quick__link a {
    color: rgba(255, 255, 255, 0.715);
    text-decoration: none;
    font-weight: 300;
    transition: 0.3s;
}

.quick__link a:hover {
    color: #0fff00;
}

.footer__link-title {
    color: #fff;
}

.office__info {
    color: rgba(255, 255, 255, 0.715);
    font-weight: 300;
}

.newsletter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    border: 1px solid rgb(24, 24, 24);
    border-radius: 50px;
    background: rgba(71, 71, 69, 0.91);
}

.newsletter input {
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
}

.newsletter span i {
    color: #fff;
}

.footer__bottom {
    border-top: 1px solid white;
}

@media only screen and (max-width: 768px) {
    .footer__logo-content {
        font-size: 0.8rem;
    }

    .quick__link,
    .office__info {
        font-size: 0.8rem;
        line-height: 1.5rem;
    }

    .footer__link-title {
        font-size: 1rem;
        margin-top: 15px;
    }
}

.footer__bottom p {
    font-size: 0.7rem;
    color: #0055ff;
}
